__test__/
styleguidist/
docs/
docs-src/
jsdoc.conf.json
Dockerfile
.nvmrc
.travis.yml
.eslintrc.yml
.gitignore
.git/
styleguide.config.js
*.log
src/
# mac files
.DS_Store
*.swn
*.swo
*.swp
babel.config.js
.size-limit.js
.browserslistrc
